.refund_container
	.refund_border
		.image.icon_moneyback
		.text
			.title Your delight guaranteed! Otherwise 100% refund.
			p Honesty is one of the main principles of our company. We aim to provide you not only with the quality of products, but also to follow up your impressions. All our products are 100% natural. Each of them passed all required tests and been verified. Therefore, if you have any suggestions or complaints – just let us know and we’ll resolve it for you. 
			.user_card
				.rospis
				.name
					strong Helena Mains, 
					span Head of Quality Department
				.avatar
					img(src="img/common/avatar_refund.png", alt="")