.top_line
	.container
		.row.align-items-center.justify-content-between
			.col-xs-5
				.site_name #{common[0].site_name}
					span #{common[0].site_desc}
			.col-xs-7
				.tv_logo_container.justify-content-end.align-items-center
					span #{common[0].see_on_tv}
					.tv_logo