.container.video_container
	.title
		| #{common[0].video[0]}
		strong #{common[0].video[1]}
	.row
		.col-xs-4
			video(controls='controls', poster='')
				//source(src='img/common/video.mp4', type='video/mp4')
		.col-xs-4
			video(controls='controls', poster='')
				//source(src='img/common/video.mp4', type='video/mp4')
		.col-xs-4
			video(controls='controls', poster='')
				//source(src='img/common/video.mp4', type='video/mp4')
